Source: ros-melodic-eca-a9-gazebo
Section: misc
Priority: extra
Maintainer: Thibault Pelletier <thp@eca.fr>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-eca-a9-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-eca-a9-control, ros-melodic-eca-a9-description
Description: Package with launch files for demonstrations with the ECA A9 AUV
